*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    gap: 10px;
}

.nome, .endereco {
    display: flex;
    flex-direction: row;
}